/**********************
       CONSTANTS
***********************/
 
@lightRed:   #ff0000;
@lightGreen: #233663;
@lightBlue:  #342245;
@lightGrey:  #646464;
@lightOrange: #F08080;
@darkGrey: #282a2b;



 /**********************
         MIXXINS
***********************/


 
 /**********************
         STYLES
***********************/

main section {
    
    display: none;
    background-color: @lightBlue;
    color: @lightOrange;

}

 .active {

 display: block;
 }

body {
    
    background-color: @darkGrey;
    font-size: @greatFontsize;
    width: @fullWidth;
    margin-left: auto;
    margin-right: auto;

}

@





